body {
margin:0;
font-family: Arial;
background: linear-gradient(to bottom, #fff, #fce4ec);
}

header {
background:black;
color:gold;
padding:25px;
text-align:center;
}

section {
padding:40px;
text-align:center;
}

.services {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card {
background:white;
padding:20px;
border-radius:15px;
}

.booking-box {
max-width:400px;
margin:auto;
}

input, select {
width:100%;
padding:10px;
margin:10px 0;
}

button {
width:100%;
padding:15px;
margin-top:10px;
border:none;
background:black;
color:white;
cursor:pointer;
}
