body {
margin:0;
font-family:Arial;
overflow:hidden;
}

/* FULL EKRAN */
.overlay {
background:url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9') no-repeat center/cover;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
position:relative;
}

/* KARARTMA */
.overlay::before {
content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
}

.overlay * {
position:relative;
}

/* BAŞLIK */
.glow {
color:#ff0000;
font-size:45px;
text-shadow: 0 0 10px red, 0 0 20px red;
}

/* BUTON */
.btn {
margin-top:20px;
padding:15px 40px;
background:#ff0000;
border:none;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.btn:hover {
background:white;
color:red;
}

/* INSTAGRAM BUTON (KIRMIZI TEMA) */
.instagram-btn {
position:absolute;
top:20px;
right:20px;
background: rgba(0,0,0,0.7);
color:#ff0000;
padding:10px 20px;
border:1px solid #ff0000;
border-radius:20px;
text-decoration:none;
font-size:14px;
font-weight:bold;
backdrop-filter: blur(5px);
transition:0.3s;
}

.instagram-btn:hover {
background:#ff0000;
color:white;
box-shadow: 0 0 10px red, 0 0 20px red;
transform:scale(1.05);
}
